# Base de datos MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=pdf_manager

# Límite de tamaño de archivos PDF (en MB)
MAX_FILE_SIZE_MB=20

# URL base de la API (usada por el CLI)
API_BASE_URL=http://localhost:8000

# Cada usuario tiene su propio .env, se recomienda copiar los datos de este y de ahi
# poner configuraciones personales.